.dart_tool/
.idea/
*.iml
inst_user_settings.tmp
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.env
.env.*
!.env.example

android/.gradle/
android/.kotlin/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner.xcworkspace/
ios/ExportOptions.plist
*.p12
*.mobileprovision
AuthKey_*.p8

macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
